@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}
* {
  font-family: "Roboto Condensed";
}